[submodule "3D_Chess/3D_Chess/Assets/Scripts/UnityChessLib"]
	path = 3D_Chess/3D_Chess/Assets/Scripts/UnityChessLib
	url = https://github.com/ErkrodC/UnityChessLib.git
[submodule "3D_Chess/Assets/Scripts/UnityChessLib"]
	path = 3D_Chess/Assets/Scripts/UnityChessLib
	url = https://github.com/ErkrodC/UnityChessLib.git
